<%= render partial: "home/partials/topbar" %>

<div style="overflow:hidden;">
  <%= render partial: "home/partials/slider" %>

  <%= render partial: "home/partials/plat-du-jour" %>

  <%= render partial: "home/partials/menu" %>

  <%= render partial: "home/partials/reservations" %>

  <%= render partial: "home/partials/about" %>

  <%= render partial: "home/partials/features" %>

  <%= render partial: "home/partials/insta-posts" %>

  <%= render partial: "home/partials/team" %>

  <%= render partial: "home/partials/reviews" %>

  <%= render partial: "home/partials/blog" %>

  <%= render partial: "home/partials/footer" %>
</div>